body{
   background-color: cadetblue;
}

.grid-container{
   display: grid;
   grid-template-areas: 
      "navbar"
      "list";
}

.navbar{
   grid-area: navbar;
}

.list{
   grid-area: list;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
   grid-auto-rows: 10px;
   gap: 0.1rem;
}

.imageContainer img{
   width: 100%;
   height: 100%;
   object-fit: contain;
}

