body{
   background-color: cadetblue;
}

.grid-container{
   display: grid;
   grid-template-areas: 
      "navbar"
      "list";
}

.navbar{
   grid-area: navbar;
}

.list{
   grid-area: list;
   display: grid;
   grid-template-columns: repeat(4, 20vw);
   gap: 5px;
}

.imageContainer img{
   width: 100%;
   height: 80%;
   object-fit: cover;
}

.imageContainer{
   word-wrap: break-word;
}